@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 337 23% 95%;
        --foreground: 337 5% 10%;
        --card: 337 23% 90%;
        --card-foreground: 337 5% 15%;
        --popover: 337 23% 95%;
        --popover-foreground: 337 95% 10%;
        --primary: 337 47% 77%;
        --primary-foreground: 0 0% 0%;
        --secondary: 337 23% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 299 23% 85%;
        --muted-foreground: 337 5% 40%;
        --accent: 299 23% 80%;
        --accent-foreground: 337 5% 15%;
        --destructive: 0 50% 48%;
        --destructive-foreground: 337 5% 90%;
        --border: 337 23% 50%;
        --input: 337 23% 48%;
        --ring: 337 47% 77%;
        --radius: 0.75rem;
       }
    .dark {
        --background: 337 10% 10%;
        --foreground: 337 0% 90%;
        --card: 337 0% 10%;
        --card-foreground: 337 0% 90%;
        --popover: 337 10% 5%;
        --popover-foreground: 337 0% 90%;
        --primary: 337 47% 77%;
        --primary-foreground: 0 0% 0%;
        --secondary: 337 10% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 299 10% 25%;
        --muted-foreground: 337 0% 60%;
        --accent: 299 10% 25%;
        --accent-foreground: 337 0% 90%;
        --destructive: 0 50% 48%;
        --destructive-foreground: 337 0% 90%;
        --border: 337 20% 48%;
        --input: 337 20% 48%;
        --ring: 337 47% 77%;
        --radius: 0.75rem;
       }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.default-line-color {
    background-color: hsl(337 47% 77%);
}
.change-line-color {
    background-color: hsl(0 50% 30%);
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.pulse-animation {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
